@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@import 'text.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "circular-std";
    color: #4F4F4F;
}

small {
    @apply text-xs text-gray-light;
}

/* .set_h {
    max-height: calc(100vh - 432.8px);
}

@media screen and (min-width: 640px) {
    .set_h {
        max-height: 100%;
    }
} */

.no-wrap {
    white-space: nowrap;
}

.currency-selector,
option {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    /* appearance: none; */
    border: 0;
    outline: none;
}

.toast {
    animation: toast-in 0.3s ease-in-out;
}

@keyframes toast-in {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hr-design {
    width: 100%;
    height: 2px;
    display: inline-block;
    color: #EBEBEC;
}

:root {
    font-size: 16px;
}

.container {
    @apply max-w-7xl mx-auto px-4;
}

.red-border {
    border: 3px solid red;
}

.destination-card::-webkit-scrollbar,
.more-destination-card::-webkit-scrollbar,
.search-results::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
    display: none;
}

.destination-card,
.more-destination-card,
.search-results,
.modal-content {
    scrollbar-width: none;
}

.destination-card,
.more-destination-card,
.search-results,
.modal-content {
    -ms-overflow-style: none;
}

.bg-hero {
    background-position: bottom center;
}

.divider {
    border-radius: 20px;
    background-color: #EDE6E6;
}

.footer-background {
    background-image: url('../assets/img/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 32rem;
}

.top-destinations {
    background-image: url('../assets/img/ellipse-left.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.more-destination-text {
    background-image: url('../assets/img/ellipse-right.png');
    background-repeat: no-repeat;
}

/* Images */
.img-container {
    width: 100%;
}

.img-container>div {
    position: unset !important;
    border-radius: 8px;
}

.target-img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

/* Modal Styles */
.modal-mask {
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.modal-container {
    background-color: #fff;
    box-shadow: 0px 16px 40px rgba(147, 151, 153, 0.2);
    overflow-y: scroll;
}

@media screen and (min-width: 500px) {
    .modal-container {
        margin: 0 auto;
        overflow-y: scroll;
    }
}

/* Destination Page */
.itinerary-card-container {
    border: 1px solid rgba(112, 27, 10, 0.12);
    box-shadow: 0px 10px 16px rgba(100, 13, 38, 0.15);
    background-color: #FFFCFC;
}

/* Dashboard */
.dashboard-sidebar a:hover {
    color: #F2856F;
}

/* Tab styles */
.active-tab::after {
    content: '';
    height: 8px;
    width: 8px;
    background-color: #EA4524;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Input Element Styling */
.input-element {
    @apply py-2 px-3 text-black-content rounded outline-none;
    border: 1px solid #ABAFB5;
    transition: border 0.3s ease;
}

.input-element:focus {
    border: 1px solid #F7CDBA;
}

.input-with-label {
    box-shadow: 0px 3.87423px 9.68558px rgba(112, 27, 10, 0.12);
}

::placeholder {
    color: #828282;
}

.leading-icon {
    text-indent: 18px;
}

input {
    -webkit-tap-highlight-color: transparent;
}

.flight-search {
    box-shadow: 0px 2px 2px rgba(28, 5, 77, 0.05),
        0px 12px 8px rgba(0, 0, 0, 0.02);
}

/* Checkbox styling */
.checkmark {
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid #4F4F4F;
    border-radius: 2px;
    position: relative;
}

.checkmark::after {
    content: "";
    opacity: 0;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 1px;
    background-color: #EA4524;
    padding: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
}

.check:checked~.checkmark::after {
    opacity: 1;
    text-decoration: line-through;
}

/* Simple Card Trip */
.trip-card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* nProgress */
#nprogress .bar {
    background-color: #EA4524 !important;
}

.profile-menu-list li:hover,
.options-list li:hover {
    @apply bg-outline cursor-pointer;

}

/* Spinner */
@keyframes ldio-zejy8tzpidp {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-zejy8tzpidp div {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 8px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-zejy8tzpidp div {
    animation: ldio-zejy8tzpidp 1s linear infinite;
    top: 100px;
    left: 100px;
}

.loadingio-spinner-rolling-pyu3k0ej55i {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-zejy8tzpidp {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-zejy8tzpidp div {
    box-sizing: content-box;
}

@keyframes ldio-36ci75x0fkp {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-36ci75x0fkp div {
    position: absolute;
    width: 120px;
    height: 120px;
    border-width: 20px;
    border-radius: 50%;
    border-style: solid;
    /* border-color: #097581; */
    border-color: #ffffff;
    border-top-color: transparent !important;
}

.ldio-36ci75x0fkp div {
    animation: ldio-36ci75x0fkp 1s linear infinite;
    top: 100px;
    left: 100px;
}

.loadingio-spinner-rolling-9wecyn0eoed {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-36ci75x0fkp {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-36ci75x0fkp div {
    box-sizing: content-box;
}

.input-trailing-text {
    position: absolute;
    right: 1;
    right: 10px;
    margin-top: -32px;
    color: rgba(234, 69, 36);
    cursor: pointer;
}

.breakdown-text {
    font-size: 15px !important;

    display: flex;
    align-items: center;

    font-weight: 300;

    color: #4F4F4F;
}

.requestfund-header {
    font-size: 24px;
    line-height: 156.73%;
    color: #333333;
    margin-bottom: 16px;

    @media screen and (max-width: 640px) {
       .requestfund-header {
           margin-bottom: 8px !important;
           font-size: 16px !important;
       }
    } 
}
.requestfund-amount {
    font-weight: 900;
    font-size: 64px;
    line-height: 81px;
    margin-bottom: 15px;
    color: #333333;
}
.requestfund-explanation {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #6E7491;
    margin-bottom: 24px;
}
.requestfund-fee {
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #6E7491;
}

.airplane-track {
    top: 35px !important;
    position: absolute;
}


.home-special-container {
    
}
@media screen and (max-width: 403px) {
    .home-special-container {
        padding-left: 1rem !important;
        padding-right: 1rem !important ;
        margin: auto !important;
    }
 } 

 .tripdetail-notification {
    background: #FEF9F6;
    border: 1px solid #EBEBEC;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
 }

 .traveler-info {
     width: 70%;
     
 }

 .tripdetail-notification-icon {
     width: 20%;
     padding-right: 20px;
 }
 .tripdetail-buddies-track {
    background: #EBEBEC;
    border-radius: 10px;
 }

 .tripdetail-buddies-track > div {
    background: #00B493;
    border-radius: 10px;
 }

 .tripdetail-buddies-info {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
    margin-top: 8px;
 }
.chat-image-container {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}
.chat-image-container > img {
    width: 100%;
    border-radius: 50%;
}
.chat-image-container-label {
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
}
.chat-image-default {
    background: grey;
}

.destination-icon {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px;
    height: 20px;
}

.input-with-label > input {
    appearance:auto;
background-color:rgb(255, 255, 255);
border-bottom-color:rgb(229, 231, 235);
border-bottom-style:solid;
border-bottom-width:0px;
border-image-outset:0;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(229, 231, 235);
border-left-style:solid;
border-left-width:0px;
border-right-color:rgb(229, 231, 235);
border-right-style:solid;
border-right-width:0px;
border-top-color:rgb(229, 231, 235);
border-top-style:solid;
border-top-width:0px;
box-sizing:border-box;
color:rgb(79, 79, 79);
cursor:text;
display:inline-block;
font-family:circular-std;
font-size:16px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
height:24px;
letter-spacing:normal;
line-height:24px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
outline-color:rgba(0, 0, 0, 0);
outline-offset:2px;
outline-style:solid;
outline-width:2px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
tab-size:4;
text-align:start;
text-indent:0px;
text-rendering:auto;
text-shadow:none;
text-size-adjust:100%;
text-transform:none;
width:288px;
word-spacing:0px;

}